@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply antialiased;
  }
}

@layer utilities {
  .animate-in {
    animation: fadeIn 0.2s ease-out, slideInFromTop1 0.2s ease-out;
  }
}
